tree_species.rnc

default namespace = ""

start =
   element gs_taxa {
      element taxon {
         attribute id { xsd:ID } &
         element sci_name { text } &
         element exotic_in {
            list { xsd:NCName+ }
         }? &
         element family { xsd:NCName }? &
         element inat_taxon { xsd:integer }? &
         element name { text }? &
         # the country being considered where the species was first
         # added to the DB. Does not mean the species is actually
         # native in the country or planted there.
         element first_locn { xsd:NCName } &
         element native_in {
            list { xsd:NCName+ }
         }? &
         element planted_in {
            list { xsd:NCName+ }
         }? &
         element native_range { text }? &
         element notes { text }? &
         element id_notes { text }? &
         element id_diff { xsd:NCName }? &
         element cf {
            attribute ref { xsd:IDREF }
         }* &
         element uses {
            list { xsd:NCName+ }
         }? &
         links?
      }+ ,
      element country {
         attribute id { xsd:ID } &
         element notes { text }? &
         links?
      }*      
   }

links =
   element links {
      element link { xsd:anyURI }* &
      element wp { xsd:anyURI }?
   }

         